@use "base/variables" as v;
@use "base/mixins" as m;

.information {
  position: relative;

  @include m.tablet {
    overflow: hidden;
  }

  &__section {
    padding: 6rem 3rem 2rem;

    @include m.tablet {
      padding: 6rem 3rem 0;
    }

    @include m.mindesk {
      padding: 8rem 6rem 0;
    }

    @include m.meddesk {
      padding: 12rem 10rem 0;
    }
  }

  &__heading {
    font-size: 3.6rem;
    margin: 0 0 2.5rem;
  }

  &__text {
    color: v.$dark-gray;
    line-height: 1.5;
  }
}

.btn-shop {
  position: absolute;
  bottom: 5.5rem;

  @include m.tablet {
    bottom: 10rem;
  }

  @include m.mindesk {
    bottom: 12rem;
  }

  @include m.meddesk {
    bottom: 10rem;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 2rem;
    line-height: 0;
    text-transform: uppercase;
    color: v.$black;
    letter-spacing: 1rem;
    margin-top: 2.5rem;
    margin: 2.5rem 0 0 2rem;
    padding: 1rem;

    @include m.tablet {
      margin: 3rem 0 0 2rem;
    }

    @include m.mindesk {
      margin: 3rem 0 0 5rem;
    }

    @include m.meddesk {
      margin: 3rem 0 0 9rem;
    }
  }

  &__arrow {
    height: 1rem;
    width: 4rem;
  }
}
