@use "variables" as v;
@use "mixins" as m;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  font-size: 1.6rem;
  font-family: v.$primary-font;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  @include m.tablet {
    margin: 0 auto;
    max-width: 144rem;
  }
}
button {
  cursor: pointer;
}
