@use "base/variables" as v;
@use "base/mixins" as m;

.slider {
  position: relative;

  &__slide {
    position: absolute;
    width: 100%;

    transition: transform 0.5s ease, opacity 0.25s ease;
  }

  &__image {
    width: 100%;
    height: 36rem;
    object-fit: cover;

    @include m.tablet {
      height: 53rem;
    }
  }
}
