@use "base/variables" as v;
@use "base/mixins" as m;

.about {
  @include m.mindesk {
    display: grid;
    grid-template-columns: 1fr 40.28% 1fr;
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include m.mindesk {
      height: 100%;
    }
  }

  &__text {
    padding: 6rem 3rem;

    @include m.meddesk {
      padding: 6rem 4rem;
    }
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }

  &__paragraph {
    color: v.$dark-gray;
    line-height: 1.5;
  }
}
